$primary: rgb(53, 89, 144);
$secondary: rgb(30, 59, 104);

$font-primary: rgb(53, 89, 144);
$font-secondary: rgb(140, 162, 194);
$font-placeholder: rgb(201, 201, 201);
$font-dark: rgb(103, 103, 103);

$border-grey: rgb(216, 216, 218);
$border-shadow-grey: rgb(235, 235, 235);

$warning-red: rgb(255, 178, 178);

$background: rgb(247, 247, 247);
$component-background: rgb(255, 255, 255);

$button-confirm-background: rgb(255, 142, 29);
$button-confirm-font: rgb(255, 255, 255);
