$input-height: 35px;
$textarea-height: 140px;

$input-width-wide: 450px;
$input-width-medium: 190px;
$input-width-narrow: 80px;

$input-spacing: 16px;

$radio-button-diameter: 16px;

$standard-button-height: 50px;
$standard-button-width: 165px;